body {
	background-color:rgb(90, 17, 124);
}

.main_div {
	float: right;
	background-color: white;
	width: 42%;
	height:550px;
	border-radius: 30px;
	margin-right: 107.5px;
	padding-left:80px;
	margin-top:40px;
}
.Style {
	width:42%;
	height:550px;
	float: left;
	margin-top:-100px;
	border-radius: 30px;
	float: left;
	margin-left: 108px;
	margin-top: 40px;
}
